#menu_top {
    z-index:2000;
}

@media (min-width: 1200px) { 

    #banner  .item h4 {
            font-size: 26px; 
            margin-bottom: 20px;
    }

    #banner .slider_link_spb {
            margin-top: 15px !important;
    }

    #banner  .slider_link_moscow {
        z-index: 1301;
        margin-top: 15px !important;
    } 
    
    #header {
        z-index: 1300;
    }
    
    #banner .item.first {
        z-index: 1350; 
    }
    
    #banner .item.first .wrapper {
        /* height: 270px; */
        height: 200px;
    }
    
    #banner .item {
        height: 300px;
    }
    
    .konfigurator_top  {
        z-index: 1201;
        position: relative;
    }
    .konfigurator_top .right {
        z-index: 1202;
    }
    
    .konfigurator_top .right img {
        z-index: 1203;    
    }
} 

@media (max-width: 1199px) and (min-width: 992px) {
     #banner  .item h4 { 
        margin-bottom: 10px;
    }

    #banner .slider_link_spb {
            margin-top: 15px !important;
    }

    #banner  .slider_link_moscow {
        z-index: 1301;
        margin-top: 15px !important;
    } 
    
    #header {
        z-index: 1300;
    }
    
    #banner .item.first {
        z-index: 1350; 
    }
    
    #banner .item.first .wrapper {
        height: 290px;
    }
    
    #banner .item {
        height: 300px;
    }
    
    .konfigurator_top  {
        z-index: 1201;
    }
    .konfigurator_top .right {
        z-index: 1202;
    }
    
    .konfigurator_top .right img {
        z-index: 1203;    
    }
}

@media (min-width: 768px) and (max-width: 991px) {
     #banner  .item h4 { 
        margin-bottom: 10px;
    }

    #banner .slider_link_spb {
            margin-top: 15px !important;
    }

    #banner  .slider_link_moscow {
        z-index: 1301;
        margin-top: 15px !important;
    } 
    
    #header {
        z-index: 1300;
    }
    
    #banner .item.first {
        z-index: 1350; 
    }
    
    #banner .item.first .wrapper {
        height:300px !important;
    }
    
    #banner .item {
        height: 300px;
    }
    
    .konfigurator_top  {
        z-index: 1201;
    }
    .konfigurator_top .right {
        z-index: 1202;
    }
    
    .konfigurator_top .right img {
        z-index: 1203;    
    }
}

@media (min-width: 480px)  and (max-width: 767px) {
     #banner  .item h4 { 
        margin-bottom: 10px;
    }

    #banner .slider_link_spb {
        font-size: 12px !important;
        padding: 10px !important;
        margin-top: 15px !important;
    }

    #banner  .slider_link_moscow {
        z-index: 1301;
        font-size: 12px !important;
        padding: 10px !important;
        margin-top: 15px !important;
    } 
    
    #header {
        z-index: 1300;
    }
    
    #banner .item.first {
        z-index: 1350; 
    }
    
    #banner .item.first .wrapper {
        height:320px !important;
    }
    
    #banner .item {
        font-size: 14px;
        height: 320px;
    }
    
    .konfigurator_top  {
        z-index: 1201;
    }
    .konfigurator_top .right {
        z-index: 1202;
    }
    
    .konfigurator_top .right img {
        z-index: 1203;    
    }
}

@media (max-width: 480px)  {
     #banner  .item h4 { 
         font-size: 12px;
        margin-bottom: 10px;
    }

    #banner .slider_link_spb {
        font-size: 12px !important;
        padding: 10px !important;
        margin-top: 15px !important;
    }

    #banner  .slider_link_moscow {
        z-index: 1301;
        font-size: 12px !important;
        padding: 10px !important;
        margin-top: 15px !important;
    } 
    
    #header {
        z-index: 1300;
    }
    
    #banner .item.first {
        z-index: 1350; 
        font-size: 12px !important;
    }
    
    #banner .item.first .wrapper {
        height:320px !important;
    }
    
    #banner .item { 
        height: 320px;
    }
    
    .konfigurator_top  {
        z-index: 1201;
    }
    .konfigurator_top .right {
        z-index: 1202;
    }
    
    .konfigurator_top .right img {
        z-index: 1203;    
    }
}


#partners_logo_2 {
    display: table;
    width: 100%;
    clear:both;
}
#partners_logo_2  #items {
    display: table;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#partners_logo_2  #items  .item {  
    margin-bottom:40px;
}

#partners_logo_2  #items  .item            img {
    max-height: 70px;
    width: auto;
}

#partners_logo_2  #items  .item           a {
    text-decoration: none !important;
}  
        
@media (max-width: 480px) { 
#partners_logo_2  #items     .item {
        clear: both;
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {  
#partners_logo_2  #items      .item:nth-child(2n+1)  {
        clear: both;
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
 #partners_logo_2  #items     .item:nth-child(2n+1)  {
        clear: both;
    }
}
 @media (min-width: 992px) and (max-width: 1199px) {
#partners_logo_2  #items     .item:nth-child(4n+1)  {
        clear: both;
    }
}
@media (min-width: 1200px) {
#partners_logo_2  #items     .item:nth-child(4n+1)  {
        clear: both;
    }
} 